.table-responsive .table {
  min-width: 1000px;
}
.table-responsive {
  padding-bottom: 60px;
  & + div {
      margin-top: -15px !important;
  }
}
.table th {
  color: #6C757D;
  background-color: #E9ECEF;
  font-weight: 500;
  white-space: nowrap;
}
.table th,
.table td {
  vertical-align: middle;
  padding: 20px;
  border: 0;
  word-break: break-all;
}
.table td:first-child {
  white-space: nowrap;
}
.table tbody tr:nth-child(odd) td {
  background-color: var(--white);
}